body{
    background-color: rgb(16, 216, 149);
}
div {
    text-align: center;
    margin: auto;
    color: rgb(13, 11, 11) ;
    background-color: lightsalmon;
    display: block;
    background-position: center;
    min-height: 250px;
    width: 450px;
    border: 5px solid rgb(163, 137, 200);
    justify-content: center;
    font-size: large;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
#head1{
    color: rgb(123, 236, 10);
    text-decoration: underline;
    font-size: 40px;
    
}
#btns {
    border: 4px solid;
    color: rgb(120, 97, 63);
    size: 20px;
}
#inst{
    text-align: center;
    border: 5px solid rgb(195, 106, 106);
    background-color: rgb(244, 210, 210);

    }